<%= form_with(model: lend) do |form| %>
  <% if lend.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lend.errors.count, "error") %> prohibited this lend from being saved:</h2>

      <ul>
        <% lend.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

 <div style="text-align: left">
    <table align="center"> 
      <div class="field">
        <tr>
          <th><%= form.label "名前:" %></th>
          <td><%= form.text_field :name %></td>
        </tr>
      </div>

      <div class="field">
        <tr>
          <th><%= form.label "貸し出した物:" %></th>
          <td><%= form.select :loaned_out,[["ネクタイ",0],["スカート",1],["ズボン",2]],include_blank: "選択してください" %></td>
        </tr>
      </div>

      <div class="field">
        <tr>
          <th><%= form.label "貸し出し日:" %></th>
          <td><%= form.date_select :loaned_date %></td>
        </tr>
      </div>

      <div class="field">
        <tr>
          <th><%= form.label "返却日:" %></th>
          <td><%= form.date_select :return_date %></td>
        </tr>
      </div>
    </table>
  </div>
    <div class="actions text-sm-center">
      <%= form.submit "登録", class: 'btn btn-outline-secondary btn-lg my-2 mx-5 ' %>
    </div> 
<% end %>