<p id="notice"><%= notice %></p>

<p>
  <strong>名前:</strong>
  <%= @lend.name %>
</p>

<p>
  <strong>貸し出し:</strong>
  <%= @lend.loaned_out %>
</p>

<p>
  <strong>貸出日:</strong>
  <%= @lend.loaned_date %>
</p>

<p>
  <strong>返却日:</strong>
  <%= @lend.return_date %>
</p>

<%= link_to '編集', edit_lend_path(@lend) %> |
<%= link_to '戻る', lends_path %>
