<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @lend.name %>
</p>

<p>
  <strong>Loaned out:</strong>
  <%= @lend.loaned_out %>
</p>

<p>
  <strong>Loaned date:</strong>
  <%= @lend.loaned_date %>
</p>

<p>
  <strong>Return date:</strong>
  <%= @lend.return_date %>
</p>

<%= link_to 'Edit', edit_lend_path(@lend) %> |
<%= link_to 'Back', lends_path %>
