<h1>LPMｓ</h1>
<p>落とし物管理システム</p>
<div class="d-flex flex-column ">
  <%= link_to '落とし物', search_lost_items_path, class: 'btn btn-outline-secondary btn-lg btn-block my-2 mx-5 p-5' %>
  <% if session[:login_states].blank? %>
    <%= link_to 'お問い合わせ', new_inquiry_path, class: 'btn btn-outline-secondary btn-lg my-2 mx-5 p-5' %>
    <%= link_to '管理者画面へ', home_login_complete_path, class: 'text-end my-3' %>
  <% end %>
  <% if session[:login_states].present? %>
    <%= link_to 'お問い合わせ', inquiries_path, class: 'btn btn-outline-secondary btn-lg my-2 mx-5 p-5' %>
    <%= link_to '貸し出し', lends_path, class: 'btn btn-outline-secondary btn-lg my-2 mx-5 p-5'  %>
    <%= link_to 'ログアウト', logout_path, method: :delete, class: 'text-end my-3' %>
  <% end %>
</div>


