<div style="text-align: center">
  <%= form_with(model: lost_item) do |form| %>
    <% if lost_item.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(lost_item.errors.count, "error") %> prohibited this lost_item from being saved:</h2>

        <ul>
          <% lost_item.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

  <div style="text-align: left">
    <table align="center"> 
      <div class="field">
        <tr>
          <th><% form.label "落とし物名" %>落 と し 物 名 :</th>
          <td><%= form.text_field :item_name %></td>
        </tr>
      </div>

      <div class="field">
        <tr>
          <th><% form.label "拾った日付" %>拾 っ た 日 付：</th>
          <td><%= form.date_select :date_picked %></td>
        </tr>
      </div>
      

      <div class="field">
        <tr>
          <th><% form.label "拾った場所" %>拾 っ た 場 所：</th>
          <td><%= form.text_field :where_picked %></td>
        </tr>
      </div>

      <div class="field">
        <tr>
          <th><% form.label "特  徴" %>特徴：</th>
          <td><%= form.text_area :feature,  size: "40x10" %></td>
        </tr>
      </div>

      <div class="field">
        <tr>
          <th><% form.label "保管期間" %>保   管  期  間：</th>
          <td><%= form.date_select :storage_period, {default: Date.today + 14.day} %></td>
        </tr>
      </div>

      <div class="field">
        <tr>
          <th><% form.label "カテゴリー" %>カ テ ゴ リ ー：</th>
          <td><%= form.select :category, [["スマホ",0],["財布",1],["キーホルダー",2],["ハンカチ・タオル",3],["文房具",4]], include_blank: "選択してください" %></td>
        </tr>
      </div>
    </table> 
  </div>
    <div class="actions">
      <%= form.submit "登録" %>
    </div>
  <% end %>
</div>