<p id="notice"><%= notice %></p>

<h5 class="text-end"><%= link_to 'トップへ戻る', home_top_path %></h5>

<p>
  <strong>名前</strong>
  <%= @inquiry.name %>
</p>

<p>
  <strong>用件</strong>
  <% case @inquiry.matter
                 when 0 %>捜索願
              <% when 1 %>メッセージ
              <% when 2 %>質問・意見
              <% end %>
</p>

<p>
  <strong>詳細</strong>
  <%= @inquiry.detail %>
</p>


<%= link_to '戻る', inquiries_path %>
